@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@keyframes buttonAnimation {
  0% {
    opacity: 0;
    transform: translateX(-75%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes blink {
  0% {
    border-right: 4px solid rgb(255, 230, 0);
  }
  49% {
    border-right: 4px solid rgb(255, 230, 0);
  }
  50% {
    border-right: 4px solid transparent;
  }
  99% {
    border-right: 4px solid transparent;
  }
  100% {
    border-right: 4px solid rgb(255, 230, 0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(151deg, rgb(0, 0, 0) 0%, rgba(3, 29, 116, 0.452) 80%), linear-gradient(302deg, rgb(3, 29, 116) 15%, rgba(76, 14, 221, 0.253) 70%), linear-gradient(25deg, rgb(0, 0, 0) 0%, rgba(255, 0, 0, 0.75) 75%);
  color: #fff;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.header__wrapper {
  background-color: transparent;
}
.header__container {
  max-width: 1080px;
  min-height: 80px;
  margin: 0 auto;
}
.header__inner {
  height: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  background-color: rgba(71, 71, 71, 0.15);
  transition: background-color 2s ease-in;
}
.header__item {
  margin-left: auto;
  padding: 20px 10px;
}
.header__link {
  color: #fff;
  font-size: 24px;
  font-family: "Pangolin", cursive;
  letter-spacing: 3px;
  text-decoration: none;
  transition: color 0.5s ease;
}

.panel-base__inner {
  padding-top: 200px;
}
.panel-base__head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panel-base__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  font-size: 38px;
  font-family: "IBM Plex Mono", monospace;
}
.panel-base__text p {
  display: inline;
  line-height: 1;
}
.panel-base__text p.typing {
  padding: 0 5px;
  animation: blink 1s infinite;
}
.panel-base__button {
  cursor: pointer;
  margin-top: 200px;
  border: none;
  border-radius: 17.5px;
  padding: 15px 30px;
  color: #fff;
  font: normal 22px "IBM Plex Mono", monospace;
  background: rgba(95, 23, 143, 0.75);
  box-shadow: 0 0 12px 5px rgba(95, 23, 143, 0.75);
  transition: all 0.5s linear;
  animation: buttonAnimation 1.5s ease-in-out forwards;
}
.panel-base__button:hover {
  background-color: rgba(1, 53, 165, 0.75);
  box-shadow: 0 0 24px 10px rgba(1, 53, 165, 0.75);
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.75s linear;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(12px);
}
.modal-window {
  width: 500px;
  box-sizing: border-box;
  box-shadow: 0 0 8px 5px rgb(109, 20, 168);
  border-radius: 17.5px;
  padding: 40px;
  position: relative;
  background: linear-gradient(151deg, rgb(0, 0, 0) 0%, rgba(3, 29, 116, 0.8) 100%), linear-gradient(302deg, rgb(3, 29, 116) 70%, rgb(76, 14, 221) 100%);
}
.modal-window__close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  color: rgb(255, 255, 255);
  font: bold 28px "IBM Plex Mono", monospace;
  line-height: 1;
  transition: color 0.5s ease 0s;
  user-select: none;
}
.modal-window__close:hover {
  color: rgb(255, 0, 0);
}
.modal-content {
  color: #fff;
}
.modal-content__title {
  font: bold 24px "IBM Plex Mono", monospace;
  user-select: none;
}
.modal-content__form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.modal-content__group {
  width: 100%;
  border: 2px solid rgb(255, 123, 0);
  border-radius: 10px;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal-content__sign {
  padding: 10px 12px 10px 5px;
  font: normal 14px "IBM Plex Mono", monospace;
  user-select: none;
}
.modal-content__sign::after {
  content: "*";
  margin-left: 2px;
  position: absolute;
  font-size: 10px;
  color: rgb(255, 0, 0);
}
.modal-content__input {
  width: 100%;
  margin: 5px 0 15px 0;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(255, 255, 0);
  padding: 0 5px 10px 5px;
  color: #fff;
  font: normal 16px "IBM Plex Mono", monospace;
  background-color: transparent;
}
.modal-content__comment {
  width: 100%;
  margin: 15px 0;
  border: none;
  outline: none;
  font: normal 16px "IBM Plex Mono", monospace;
  color: #fff;
  background-color: transparent;
  resize: none;
}
.modal-content__sending {
  cursor: pointer;
  text-align: center;
  width: 50%;
  margin: 0;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 123, 0);
  border-radius: 10px;
  padding: 10px 0;
  color: #fff;
  font: normal 16px "IBM Plex Mono", monospace;
  background-color: rgba(109, 20, 168, 0.75);
  transition: all 0.5s linear;
}
.modal-content__sending:hover {
  background-color: rgba(109, 20, 168, 0.5);
}

/*# sourceMappingURL=style.css.map */
